* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  
}
body {
  overflow: hidden;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background: rgba(128, 128, 128, 0.4);
  padding: 20px;
  column-gap: 100px;
}
h1 {
  margin-left: 20px;
  font-size: 46px;
  flex-shrink: 0;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  align-self: center;
}
nav {
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  align-items: center;
  align-content: center;
  list-style: none;
  column-gap: 50px;
}
li {
  padding: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
}
li:hover {
  border-bottom: 5px red solid;
  cursor: pointer;
}
li[active="true"]{
    border-bottom: 5px red solid;
}
#char-stars {
  font-size: 200%;
  color: yellow;
}
#char-stars + div {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}
a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
a:visited {
  text-decoration: none;
}
section {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  padding-top: 200px;
}

#Mondstadt-section {
  background-image: url("./assets/backgrounds/mondstadt.jpg");
}
#Liyue-section {
  background-image: url("./assets/backgrounds/liyue.jpg");
}
#Inazuma-section {
  background-image: url("./assets/backgrounds/inazuma.jpg");
}
#Sumeru-section {
  background-image: url("./assets/backgrounds/sumeru.jpg");
}
#Fontaine-section {
  background-image: url("./assets/backgrounds/fontaine.jpg");
}
footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
}
footer > div {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  background-size: 450px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-scroll 5s linear infinite;
  text-align: right;
  padding-right: 50px;
  width: 100%;
}

@keyframes rainbow-scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 450px;
  }
}

[id *= "characters"]{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: flex-start;
    column-gap: 50px;
}

#Mondstadt-icons > div{
width: 100px;
height: 100px;
background-image: url("./assets/charactericon/albedo_icon.webp");
background-size: cover;
}

div[id *= "icons"]
{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    flex-wrap: wrap;
    height: 500px;
    width: 300px;
    flex-shrink: 0;
    row-gap: 20px;
}

div[id *= "portrait"]{
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-between;
}

div[id *= "portrait"] > div[id *= "element"]{
    background-image: url("./assets/element/element_geo.svg");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    padding-left: 50px;
}

#Mondstadt-image{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url("./assets/characterportrait/albedo_profile.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

div[id *= "portrait"] > h2{
    font-size: 80px; 
    padding-left: 50px;
    padding-top: 50px;
}